<header class="header">
  <a href="/" class="header__site-title inverted">Seong-Hyun Ryoo</a>
  <nav aria-label="Main" class="header__main-nav">
    <ul class="header__main-nav__list">
      <li class="header__main-nav__list__list-item">
        <a href="/about" class="inverted"
          ><img
            width="32"
            height="32"
            alt=""
            src="/_includes/public/aboutmini.png"
            class="header__main-nav__list__list-item__icon"
          />About</a
        >
      </li>
      <li class="header__main-nav__list__list-item">
        <a href="/work" class="inverted"
          ><img
            width="32"
            height="32"
            alt=""
            src="/_includes/public/workmini.png"
            class="header__main-nav__list__list-item__icon"
          />Work</a
        >
      </li>
      <li class="header__main-nav__list__list-item">
        <a href="/blog" class="inverted"
          ><img
            width="32"
            height="32"
            alt=""
            src="/_includes/public/blogmini.png"
            class="header__main-nav__list__list-item__icon"
          />Blog</a
        >
      </li>
    </ul>
  </nav>
</header>
