---
layout: siteframe.njk
---

<nav aria-label="Back link" class="contained-width back-link">
  <a href="/work#{{ headerId }}">Back to main Work page</a>
</nav>

<main id="main" class="contained-width">
  <div class="post">
    <header class="post__header">
      <h1 class="post__header__title">{{ title }}</h1>
    </header>

    {{ content | safe }}
  </div>
</main>
