@use "fonts";
@use "colors";

* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

@mixin bodyFont() {
  font-size: 1.125rem;
  color: colors.$offblack;
}

main {
  @include bodyFont();
  a {
    font-weight: bold;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5rem 0;
  }
  h1 {
    @include fonts.font-lora;
  }
}

.body-font {
  @include bodyFont();
}

a,
button {
  outline-offset: 10px;
  outline: colors.$darkblue none 4px;
  transition: outline-offset 0.2s;
  text-decoration: solid underline 4px colors.$medblue;
  color: colors.$deepblue;
  &:hover {
    text-decoration: solid underline 4px colors.$offblack;
  }
  &:focus {
    outline-offset: 8px;
    outline-style: solid;
    z-index: 5000;
  }
  min-width: 3rem;
  display: inline-block;
}

.inverted {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: solid underline 4px colors.$medblue;
  }
}

html {
  @include fonts.font-jost;
}
