@use "fonts";
@use "colors";

* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

*::selection {
  background-color: colors.$darkblue;
  color: white;
}

html {
  @include fonts.font-jost;
}

@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %headings !optional;
}

main {
  font-size: 1.125rem;
  color: colors.$offblack;
  * + p,
  * + %headings,
  * + pre,
  * + ul,
  * + ol {
    margin-top: 1em;
  }
  %headings + p {
    margin-top: 0.5em;
  }
}

h1 {
  @include fonts.font-lora;
}

a,
button {
  outline-offset: 10px;
  outline: colors.$darkblue none 4px;
  transition: outline-offset 0.2s;
  text-decoration: solid underline min(0.175em, 4px) colors.$medblue;
  color: colors.$deepblue;
  &:hover {
    text-decoration: solid underline min(0.175em, 4px) colors.$offblack;
  }
  &:focus {
    outline-offset: 8px;
    outline-style: solid;
    z-index: 5000;
  }
  min-width: 2rem;
  display: inline-block;
}

@mixin visually-hidden() {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
