$neonblue: rgb(118, 250, 255);
$fadedblue: rgba(159, 239, 242, 0.7);
$fadedyellow: rgba(255, 242, 128, 0.8);
$neonyellow: rgb(250, 231, 89);
$fadedred: rgba(236, 162, 195, 0.7);
$medred: rgb(251, 128, 183);
$medblue: rgb(142, 184, 207);
$weakred: rgba(228, 179, 201, 0.4);
$superweakdred: rgba(228, 179, 201, 0.2);
$weakblue: rgba(142, 184, 207, 0.458);
$darkblue: rgb(13, 78, 113);
$deepblue: rgb(0, 52, 79);
$deepred: rgba(84, 0, 38, 0.7);
$white: white;
$black: rgb(37, 16, 28);
$offwhite: rgb(234, 234, 234);
$offblack: rgb(36, 0, 21);
