$neonblue: rgba(118, 250, 255, 0.7);
$fadedblue: rgba(169, 232, 234, 0.7);
$fadedyellow: rgb(250, 232, 89, 0.7);
$fadedred: rgba(228, 179, 201, 0.7);
$medblue: rgb(142, 184, 207);
$thinblue: rgb(142, 184, 207, 0.4);
$darkblue: rgb(13, 78, 113);
$deepblue: rgb(0, 52, 79);
$deepred: rgba(84, 0, 38, 0.7);
$white: white;
$black: rgb(37, 16, 28);
$offwhite: rgb(234, 234, 234);
$offblack: rgb(37, 16, 28);
