@use "fonts";
@use "colors";

.hero {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.hero__text {
  @include fonts.font-lora;
  font-size: 3rem;
  font-weight: normal;
}

.hero__illo {
  flex: 1 0 auto;
  width: 25rem;
  height: auto;
}

@mixin backline($color) {
  background: linear-gradient(
    0deg,
    transparent 30%,
    $color 30%,
    $color 60%,
    transparent 60%
  );
}

.hero__text__decorative--react {
  @include backline(colors.$fadedblue);
}
.hero__text__decorative--artist {
  @include backline(colors.$fadedred);
}
.hero__text__decorative--access {
  @include backline(colors.$fadedyellow);
}
