.post {
  background: white;
  padding: 1rem;
  border-radius: 6px;
  a {
    font-weight: bold;
  }
  p {
    // margin: 1.25rem 0;
    line-height: 1.75;
  }
  h1 {
    font-size: 3rem;
    font-weight: 300;
  }
  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   margin: 2rem 0 0 0;
  // }
}

.post__header {
  margin-bottom: 4rem;
}
