@use "base";
@use "fonts";
@use "hero";
@use "header";
@use "prism";
@use "post";
@use "colors";

.contained-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 0 1rem;
  max-width: 60rem;
}

main.dip {
  margin-top: 2rem;
}

main.no-dip {
  margin-top: 0;
}

.breadcrumbs {
  margin-bottom: 1rem;
}

.breadcrumbs__list {
  display: flex;
  list-style: none;
}

.breadcrumbs__list__link {
  font-weight: normal;
  text-align: center;
}

.breadcrumbs__list__divider {
  margin: 0 0.25rem;
  color: colors.$medblue;
}

p.post__header__date {
  margin-top: 0.5rem;
}

.skip-link {
  position: absolute;
  width: 100%;
  padding: 1rem 0;
  background: colors.$white;
  text-align: center;
  vertical-align: center;
  font-size: 1.25rem;
  color: black;
  box-shadow: 0px 10px 50px colors.$offblack;
  outline-offset: 2px;
  &:focus {
    outline-offset: 0;
  }
  &:not(:focus) {
    @include base.visually-hidden();
  }
}

.inverted {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: solid underline 4px colors.$medblue;
  }
}
