---
layout: siteframe.njk
title: About
description: React developer, digital artist, and accessibility advocate.
---

{% from 'macros/breadcrumbs.macro.njk' import breadcrumbs %}

{{
  breadcrumbs([
    { url: "/", title: "Home" },
    { url: "/about", title: "About" }
  ])
}}

<main id="main" class="contained-width">
  <h1>About</h1>
  <p>
    Hey there! My name is Seong-Hyun Ryoo. I'm passionate about React
    development, Semantic HTML (I'm the sort of the person who reads the
    <a href="https://html.spec.whatwg.org/multipage/semantics.html#semantics"
      >HTML specification</a
    >
    for fun), and web accessibility, among other things.
  </p>
</main>
