---
layout: siteframe.njk
title: About
description: React developer, digital artist, and accessibility advocate.
---

{% from 'macros/breadcrumbs.macro.njk' import breadcrumbs %}

{{
  breadcrumbs([
    { url: "/", title: "Home" },
    { url: "/about", title: "About" }
  ])
}}

<main id="main" class="contained-width">
  <h1>About</h1>
  <p>
    Hey there! My name is Seong-Hyun Ryoo. I'm a web developer who enjoys
    working at the intersection of a number of different disciplines: React
    application development, web accessibility, and digital art. Professionally,
    I'm especially excited by React performance tuning and Semantic HTML. (I'm
    the type of person who reads the
    <a
      href="https://html.spec.whatwg.org/multipage/semantics.html#semantics"
      class="external-link"
      >HTML Specification</a
    >
    for fun from time to time.)
  </p>
  <p>
    In my free time, I like to draw, listen to cozy audiobooks, and try out new
    recipes from different cuisine. I have, from time to time, even been known
    to cook something edible.
  </p>
</main>
