---
headerId: global-change-h2
name: Global Change Program
desc: Web design and development for a faculty and student-led climate change organization in Georgia Tech
src: /_includes/public/work/Global change full.png
alt: Global Change Program website screenshot
colorClass: work-item__headers__showcase--yellow
tags: workItems
layout: _work-item-desc.njk
permalink: global-change-image-desc
title: Global Change Program screenshot long description
date: 2022-05-21
---

Content here!
