---
headerId: "climate-conference-h2"
name: "2019 Georgia Climate Conference"
desc: "Web design and development for the flagship conference of the Georgia Climate Project"
src: "/_includes/public/work/Climate conference full.png"
alt: "Georgia Climate Conference website screenshot"
colorClass: "work-item__headers__showcase--blue"
tags: "workItems"
layout: "_work-item-desc.njk"
permalink: "climate-conference-image-desc/"
title: "Climate conference screenshot long description"
date: 2019-05-22
---

To be added
