---
headerId: sea-level-sensors-h2
name: Smart Sea Level Sensors
desc: Web development for a live flood risk monitoring project created in partnership with community organizations and government stakeholders in Savannah, Georgia
src: /_includes/public/work/Sea level sensors blog.png
alt: Sea level sensors website screenshot
colorClass: work-item__headers__showcase--blue
tags: workItems
layout: _work-item-desc.njk
permalink: sea-level-sensors-image-desc
title: Sea Level Sensors screenshot long description
date: 2021-05-22
---

To be added
