---
headerId: "urban-heat-atl-h2"
name: "UrbanHeatATL"
desc: "Web design and development for a citizen science initiative tackling extreme heat in Atlanta"
src: "/_includes/public/work/UrbanHeatATL news full.png"
alt: "Urban Heat ATL website screenshot"
colorClass: ""
tags: "workItems"
layout: "_work-item-desc.njk"
permalink: "urban-heat-image-desc/"
title: "UrbanHeatATL screenshot long description"
date: 2022-05-22
---

To be added
