---
layout: siteframe.njk
title: Work
description: React developer, digital artist, and accessibility advocate.
---

{% from 'macros/breadcrumbs.macro.njk' import breadcrumbs %}

{{
  breadcrumbs([
    { url: "/", title: "Home" },
    { url: "/work", title: "Work" }
  ])
}}

<main id="main" class="contained-width">
  <h1>Work</h1>
</main>
