---
layout: siteframe.njk
title: Work
description: React developer, digital artist, and accessibility advocate.
---

{% from 'macros/breadcrumbs.macro.njk' import breadcrumbs %}

{{
  breadcrumbs([
    { url: "/", title: "Home" },
    { url: "/work", title: "Work" }
  ])
}}

<main id="main" class="contained-width">
  <h1>Work</h1>
  <div class="showcase">
    <img
      class="showcase__img"
      src="/_includes/public/work/UrbanHeatATL news full.png"
      width="500"
      heigh="400"
    />
  </div>
  <div class="showcase">
    <img
      class="showcase__img"
      src="/_includes/public/work/Sea level sensors blog.png"
      width="500"
      height="400"
    />
  </div>
  <div class="showcase">
    <img
      class="showcase__img"
      src="/_includes/public/work/Global change full.png"
      width="500"
      height="400"
    />
  </div>
  <div class="showcase">
    <img
      class="showcase__img"
      src="/_includes/public/work/Climate conference full.png"
      width="500"
      height="400"
    />
  </div>
</main>
