---
layout: siteframe.njk
title: Home
description: React developer, digital artist, and accessibility advocate.
tagline: I’m a React developer, digital artist, and accessibility advocate.
work:
  [
    {
      "name": "IBM",
      "position": "Front end developer",
      "start": "May 2022",
      "end": "present",
      "desc": "Front end development for an interactive visualization which serves as a flagship component of several IBM AIOps products.",
      "tooling": ["React", "TypeScript", "Cypress", "Styled components"],
    },
    {
      "name": "Global Change Program",
      "position": "Front end developer",
      "start": "August 2019",
      "end": "May 2022",
      "desc": "Designed, developed, and deployed custom websites for leading climate change organizations in Georgia.",
      "tooling": ["HTML/CSS/JS", "React", "WordPress", "PHP"],
    },
  ]
---

<main id="main" class="contained-width home">
  <div class="hero">
    <h1 class="hero__text">
      I’m a
      <span class="hero__text__decorative decorative--react"
        >React developer,</span
      >
      <span class="hero__text__decorative decorative--artist"
        >digital artist,</span
      >
      and
      <span class="hero__text__decorative decorative--access"
        >accessibility advocate.</span
      >
    </h1>
    {% include "_hero-illo.njk" %}
  </div>

  <section class="work-section">
    <h2 class="work-section__heading">
      Here's some of my recent
      <span class="decorative--react">work experience.</span>
    </h2>
    <div class="work-section__work-showcase">
      <img
        src="/_includes/public/illo-artist-workin.png"
        class="work-section__work-showcase__illo"
        width="270"
        height="195"
        alt="An illustration of a little web developer sitting with her hair tied up in a ponytail, looking pleased in front of her laptop."
      />
      <div class="work-section__work-showcase__text">
        {% for item in work %}
        <div class="work-section__work-showcase__text__item">
          <h3 class="work-section__work-showcase__text__item__heading">
            {{ item.position }}, {{ item.name }}
          </h3>
          <p class="work-section__work-showcase__text__item__date">
            {{ item.start }}–{{ item.end }}
          </p>
          <p class="work-section__work-showcase__text__item__desc">
            {{ item.desc }}
          </p>
          <ul class="work-section__work-showcase__text__item__tooling">
            {% for tool in item.tooling %}
            <li class="work-section__work-showcase__text__item__tooling__tool">
              {{ tool }}
            </li>
            {% endfor %}
          </ul>
        </div>

        {% endfor %}
      </div>
    </div>
  </section>
</main>
